<mat-card class="demo-dialog-card">
  <mat-card-title>Dialog</mat-card-title>
  <mat-card-subtitle>MdDialog is a service, which opens dialogs components in the view.</mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="open()" [disabled]="dialogRef">Open dialog</button>

    <p>Dialog dimensions</p>
    <input [(ngModel)]="config.width" placeholder="Width"/>
    <input [(ngModel)]="config.height" placeholder="Height"/>

    <p>Dialog position</p>

    <input [(ngModel)]="config.position.top" (change)="config.position.bottom = ''" placeholder="Top"/>
    <input [(ngModel)]="config.position.bottom" (change)="config.position.top = ''" placeholder="Bottom"/>

    <input [(ngModel)]="config.position.left" (change)="config.position.right = ''" placeholder="Left"/>
    <input [(ngModel)]="config.position.right" (change)="config.position.left = ''" placeholder="Right"/>

    <p>Other options</p>
    <mat-checkbox [(ngModel)]="config.disableClose">Disable close</mat-checkbox>

    <p>Last close result: {{lastCloseResult}}</p>
  </mat-card-content>
</mat-card>
